<?xml version="1.0"?>
<configuration>
	<connectionStrings>
    <add name="gtmasqlserver" connectionString="Password=sdfsdf@Dfd*343,D;Persist Security Info=True;User ID=oper_forum;Initial Catalog=WebLive;Data Source=vip.gwgz.com,2433" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="default.html"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation targetFramework="4.0" debug="true"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
</configuration>